{% extends 'base.html.twig' %}

{% block title %}To-Do List{% endblock %}

{% block body %}

<div>
    <h1 class="text-center">Creation</h1>
        <div class="container w-25">
            <div class="row">
                <div class="col">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary" id="btn_form_new">Creer</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
</div>
{% endblock %}
